@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.initialism{
	font-variant: all-small-caps;
}

section[epub|type~="dedication"] p{
	font-variant: small-caps;
	margin-top: 3em;
	text-align: center;
	text-indent: 0;
}

b{
	font-variant: small-caps;
	font-weight: normal;
}

p.sign{
	font-variant: small-caps;
	margin: 1em;
	text-indent: 0;
}

p[epub|type~="z3998:song"] + p,
p.sign + p{
	text-indent: 0;
}

p[epub|type~="z3998:song"]{
	font-style: italic;
	margin: 1em;
	text-indent: 0;
}

blockquote[epub|type~="z3998:song"] p{
	font-style: italic;
	text-indent: 0;
}

*[epub|type~="z3998:poem"] p{
	font-style: italic;
	text-align: left;
	text-indent: 0;
}

*[epub|type~="z3998:poem"] p span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

*[epub|type~="z3998:poem"] br{
	display: none;
}

