@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.name{
	white-space: nowrap;
}

section[epub|type~="dedication"] p{
	font-variant: small-caps;
	margin-top: 3em;
	text-align: center;
	text-indent: 0;
}

b{
	font-variant: small-caps;
	font-weight: normal;
}

p.sign{
	font-variant: small-caps;
	margin: 1em;
	text-indent: 0;
}

p.sign + p{
	text-indent: 0;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:poem"] p{
	font-style: italic;
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:poem"] p > span + br{
	display: none;
}
